$primary-color: #008cba;

header {
  &.transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.not-transparent {
    background: black;
    position: relative;
  }
  

  .top-bar {
    a {
      text-shadow: 1px 1px rgba(0,0,0,0.6) !important;
    }
    .name {
      h1 {
        a {
          color: #428bca;
          text-shadow: none !important;
        }
      }
    }
  }
}


.logotitle, 
.intro h4,
.intro h2 {
  text-align: center;
}

select#user_instrument_id {
  background-image: none;
}

.rotate {
  color: #428bca;
}

.item-wrapper {
  padding: 20px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 40px;
  
  &:hover {
    .img-wrapper {
      img { -webkit-filter: grayscale(0); }
      
      .add-to-cart { bottom: 0; }
    }
  }
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  .add-to-cart {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #000;
    padding: 16px 8px;
    bottom: -50px;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 0 auto;
    border: none;
    box-shadow: none;

    &:hover { background-color: $primary-color; }
  }

  img {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-filter: grayscale(1);
    width: 100%;
  }
}  

h3 { font-size: 22px; }
h5 { font-weight: bold; }

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}

#homepage-banner {
  padding: 30px;
  background: #000;
  width: 100vw;
  height: 480px;
  margin-bottom: 3em;
  
  &.home {
    background: url(image_path("guitarcouple.jpg"));
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  &.about {
    background: url(image_path("piano.jpg"));
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  &.search-page {
    background: url(image_path("search.jpg"));
    background-position: center;
    background-size: cover;
    text-align: center;
    h1, h2 {
      text-shadow: 1px 1px rgba(0,0,0,0.6);
    }
  }

  h1 {
    font-weight: bold; 
    letter-spacing: 2px;
    color: white;
    margin-top: 100px;
  }

  h2 {
    color: #f8f8f8;
    font-size: 20px;
  }
}

/* Styles for search dropdown */

  #main-search {
    select, input { 
      width: 50%;
      float: left;
      height: 50px;
      border: none;
      outline: none; 
    }
  }

.search {
  position: relative;
  padding-top: 41px;
  margin-bottom: 0;
  max-width: 700px !important;

  .keyword {
    position: absolute;
    width: 140px;
    margin-left: 10px;
    line-height: 50px;
  }
  i {
    position: absolute;
    margin-left: 207px;
    font-size: 30px;
    line-height: 50px;
    color: #ccc;
  }
  .search-field {
    height: 50px;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #2ba6cb;;
    margin-left: 71px;
    margin-top: -10px;
  }
}

#drop3.content.open{
  position: absolute !important;
  top: 30px !important;
  left: -10px !important;
  width: 120% !important;
}

.hero {
  background: url('http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden;
  h1, h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0;
  }
}

.row {
  max-width: 1200px;
}

.footer {
  background-color: #428bca;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  margin-top: 6em;
  color: black;

  .logo {
    font-size: 1em;
    font-weight: bold;
  }
  
  p {
    color: white;
  }

  .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #000;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0;
  }
  
  .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff;
    
    li {
      margin-bottom: 2rem;
      p {
        padding-left: 5rem;
      }
    }
    
    i {
      position: absolute;
      background-color: #000;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
    }
  }
  
  .copywrite {
    color: white;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .about {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {

    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .contact {
      text-align: left;
      > i {
        margin-right: 1rem;
      }
    }
    
  }
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  
  i {
    margin-right: 0.5rem;
  }
}

/* Styles for signup panels */
.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
  margin-top: 0px;
  margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  margin-left: 35%;
}

.newusers {
  background: #fff;
}

img.logoimages {
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3em;
}

.teacher-profile-image {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.userheader {
  text-align: center;
}

.registrationheader {
  text-align: center;
}

.lessontitle {
  text-align: center;
}
