<% content_for :home do %>
  <div id="homepage-banner" class="about">
    <h1 class="mainheader">Want to learn <span class="rotate">Music, Piano, Cello, Viola, Flute, Drums</span>?</h1>
    <h2>Read more about our great service!</h2>
  </div>
<% end %>

<div class="row">
  <div class="large-4 columns">
    <h2>What We Do</h2>
    <p>Findr Musician is a service that connects students looking for private music lessons with teachers. The era of flyers on lamp posts and traditional listing websites is gone! We take your search experience to a whole new level, allowing you to browse teacher profiles and view all the details you need in order to make the right choice. We make scheduling so easy that your only worry will be skyrocketing your skills.</p>
  </div>
  <div class="large-4 columns">
    <h2>Our Mission</h2>
    <p>Choosing the perfect music teacher is never easy, that's why we do our best to give you a broad selection to choose from!</p>
    <p>All Findr Musician teachers are exceptional music professionals that will guide you to quickly reach your learning goals.</p>
    <p>Book, modify or cancel lessons with a simple click from your My Lessons dashboard: we want things to be super easy!</p>
  </div>
  <div class="large-4 columns">
    <h2>Our Values</h2>
    <p>Intuitive, innovative and respectful.</p>
    <p>What we would want to overhear someone saying about us? “Findr Musician is useful, brilliant and really clever”. And, that’s what we aim to create, every day.</p>
    <p>There’s nothing more satisfying than meeting someone for the first time, telling them who we are and them waving our app around on their phone, saying “Did you create this?! Cool”.</p>
  </div>
</div>
