    <div id="homepage-banner">
    <h1>Find Your Perfect Music Teacher</h1>
    <h2>Choose your favourite, and easily book online.</h2>

    <div class="row search">
      <div class=" small-12 columns">
        <div class="row collapse">
          <!-- Search field -->
          <div class="small-12 large-12  columns ">
            <div class=" keyword">
              <a href="#" data-dropdown="drop3">
                Pick an Instrument 
              </a>
              <ul id="drop3" class="f-dropdown content" data-dropdown-content style="position: absolute;  left: -99999px;">
                <li><a href="#"> Keyword</a></li>
                <li><a href="#"> Keyword</a></li>
                <li><a href="#">Keyword</a></li>
              </ul>
            </div>
            <i class="fi-magnifying-glass"></i>
            <input type="text" class="search-field" placeholder="Location (City) ">
          </div>
        </div>
      </div>
    </div>
    <hr/>


    <div class="row">
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
        <h4>This is a content section.</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>

      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
        <h4>This is a content section.</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>

      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
        <h4>This is a content section.</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>

    </div>
    

    <div class="row">
      <div class="large-12 columns">

        <div class="panel">
          <h4>Get in touch!</h4>

          <div class="row">
            <div class="large-9 columns">
              <p>We'd love to hear from you, you attractive person you.</p>
            </div>
            <div class="large-3 columns">
              <a href="#" class="radius button right">Contact Us</a>
            </div>
          </div>
        </div>

      </div>
    </div>

