    <div id="homepage-banner">
    <h1>Find Your Perfect Music Teacher</h1>
    <h2>Choose your favourite, and easily book online.</h2>

    <div class="row search">
      <div class="small-12 columns">
        <div class="row collapse">
          <%= search_form_for @q do |f| %>
          <!-- Search field -->
          <div class="small-12 large-12  columns ">
            <div class=" keyword">
              <%= collection_select :user, :instrument_id, Instrument.all, :id, :name, { prompt: "Pick a instrument" } %>
              <!-- <a href="#" data-dropdown="drop3">
                Pick an Instrument 
              </a>
              <ul id="drop3" class="f-dropdown content" data-dropdown-content style="position: absolute;  left: -99999px;">
                <li><a href="#"> Keyword</a></li>
                <li><a href="#"> Keyword</a></li>
                <li><a href="#">Keyword</a></li>
              </ul> -->
            </div>
            <%= f.text_field :address_cont, placeholder: "Location (City)", class: "search-field" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr/>


    <div class="row">
      <h2 class="logotitle">How It Works</h2>
      <div class="large-4 columns">
        <img class="logoimages" src="http://www.scratchinginfo.net/wp-content/uploads/2013/03/Search-icon-PSD-magnifying-glass-450x300.png"/>
        <h4>Search</h4>
        <p>Choose the instrument that you want to learn, insert your location, and immediately view the teachers in your area.</p>
      </div>

      <div class="large-4 columns">
        <img class="logoimages" src="http://vignette3.wikia.nocookie.net/nation/images/6/61/Emblem_person_blue.png/revision/latest?cb=20120218131529"/>
        <h4>Choose</h4>
        <p>Browse through the available teachers, choose your favourite, have a look at the bio and qualifications.</p>
      </div>

      <div class="large-4 columns">
        <img class="logoimages" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/green-metallic-orbs-icons-business/082519-green-metallic-orb-icon-business-envelope5.png"/>
        <h4>Book</h4>
        <p>Schedule your lessons and manage your bookings online</p>
      </div>

    </div>
    


