<h1>All <%= @title %></h1>

<ul>
<% @users.each do |user| %>
  <li>
    <ul>
      <li><%= link_to user.email, user %> </li>
      <li><%= user.role %></li>
      <% if user.role == "Teacher" %>
        <li><%= link_to "Book Lesson", new_user_lesson_path(user) %></a></li>
      <% end %>
    </ul>
  </li> 
<% end %>
</ul>